<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/globals.css" />
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="div">
              <img class="vector" src="static/images/img/vector.svg" />
              <div class="text-wrapper">WELCOME</div>
              <div class="rectangle"></div>
              <div class="text-wrapper-2">Brill Car Hire</div>
            </div>
            <div class="overlap-2">
              <img class="img" src="static/images/img/vector-6.svg" />
              <div class="group">
                <div class="overlap-group-2">
                  <div class="text-wrapper-3">Know More</div>
                  <img class="vector-2" src="static/images/img/vector-3.svg" />
                  <img class="vector-3" src="static/images/img/vector-2.svg" />
                </div>
              </div>
              <a href="{{ url_for('auth.login') }}">
                <div class="text-wrapper-4">Rent Now</div>
              </a>
             <div class="rectangle-2"></div>
              <p class="welcome-to-brill-car">
                Welcome to Brill Car Hire! Discover the freedom to explore with our premium car rental services. Whether
                you&#39;re planning a weekend getaway or a cross-country adventure, Brill Car Hire is your key to
                hassle-free and stylish travel. Browse our diverse fleet of quality cars, book seamlessly, and
                experience the joy of the open road. Your journey begins with Brill Car Hire – Where Every Drive is an
                Adventure!
              </p>
            </div>
            <div class="overlap-3">
              <img class="vector-4" src="static/images/img/vector-4.svg" />
              <p class="element-car-rent-service">
                <span class="span">#1 Car Rent Service<br /></span> <span class="text-wrapper-5">In Your City.</span>
              </p>
            </div>
          </div>
          <div class="vector-wrapper"><img class="vector-5" src="static/images/img/vector-1.svg" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
